@import "../Variables.scss";

.overBurger{
    display: flex;
    flex-direction: column;
    padding-right: 0.8rem;
    
    .burger{
        background: none;
        outline: none;
        border: none;
        cursor: pointer;

        &__lineOne,
        &__lineTwo,
        &__lineThree{
            background-color: $secondaryColor;
            width: 2rem;
            height: 0.15rem;
            margin: 0.5rem 0;
        }
    }   
}